<% title @gallery.name %>
<h1>Gallerie <%= @gallery.name %></h1>

<div class="row">
  <% for painting in @gallery.paintings %>
    <div class="span4">
      <div class="painting">
        <%= image_tag(painting.image, :class => "crop_it")%>
      </div>
      <div class="name"><%= painting.name %></div>
      <div class="actions">
        <%= link_to "edit", edit_painting_path(painting) %> |
        <%= link_to "remove", painting, :confirm => 'Are you sure?', :method => :delete %>  
      </div>
    </div>
  <% end %>
  <div class="clear"></div>
</div>

<div class="row margin_top">
  <div class="span10 offset1">
    <p>
      <%= link_to "Add a Painting", new_painting_path(:gallery_id => @gallery) %> |
      <%= link_to "Remove Gallery", @gallery, :confirm => 'Are you sure?', :method => :delete %> |
      <%= link_to "View Galleries", galleries_path %>
    </p>
  </div>
</div>